{% load static %}
{% load socialaccount %}
{% providers_media_js %} <!--템플릿사용에 필요-->

<head>
    <style>
        @font-face { font-family: 'TDTDTadakTadak'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/TDTDTadakTadak.woff') format('woff'); font-weight: normal; font-style: normal; }
        .signup {
            text-decoration: none;
            font-size: 35px; 
            color: black;
        }
        * {
            font-family: 'TDTDTadakTadak';
            font-size: 25px;
        }
    </style>
</head>
<h1>Social Login</h1>

<!--모두 자동제공-->
{% if user.is_authenticated %}
<a href="/accounts/logout">로그아웃</a><br>
{{user.username}}님이 로그인 중
{% else %}
<a href="{% provider_login_url 'google' %}"><img src="{% static 'google.jpg' %}" alt="google login" height=100></a>
<a href="{% provider_login_url 'naver' %}"><img src="{% static 'naver.ico' %}" style="margin-bottom: 10;" alt="google login" height=75></a>
<a href="{% provider_login_url 'kakao' method='oauth2' %}"><img src="{% static 'kakao.jpeg' %}" style="margin-bottom: 9; margin-left: 10;" alt="google login" height=78></a>
<br>로그인이 필요합니다
{% endif %}
<br><br><a class="signup" href="/accounts/signup/">>>회원가입</a><br>
<br>
---------------------------------------------------------------------------------------------------------
<br>
<ul>
    <li>터미널에 pip install django-allauth 설치하기</li>
    <li>settings.py에 <br>
        django.contrib.sites',<br>
        #allauth 내용들 추가</li>
    <li>#providers 내용들 추가</li>
    <li>AUTHENTIFICATION_BACKENDS tuple들추가</li>
    <li>만들어진 url들을 include해서 사용(login, logout에 해당하는 url모두 설계되어있음.)</li>
    <li>migrate해주기 -> settings.py에 있는 앱들, 모델들, url들이 처리됨</li>
    <li>admin -> SITE에 들어가서 default페이지를 현재페이지로(http://127.0.0.1:8000/) 바꿔주기</li>
</ul>